.psudo{
    width: 100%;
    height: 50px;
    background: red;
    &:after {
        content:"";
        display: block;
        height: 100px;
        width: 100%;
        background: #444;
        position: absolute;
    }
}
.contenedor li a{
    color: #fff;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    &:before{
          content:"";
        display: block;
        height: 10px;
        width: 10px;
        background: #fff;
    }
}

