body{
    margin: 0;
}
header{
    background: rgb(34,34,34,0.9);
    width: 100%;
    height: 100px;
    margin-bottom:5px solid rgb(78,78,98);

}
h1{
   color: #fff; 
    float: left;
    padding-left: 20px;
}

.contenedor{
    transition: 1s;
}
.contenedor ul{
    float: left;
    margin: 0;
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
   
  
}
.contenedor li a{
    font-size: 19px;
    padding:40px 30px;
    display: block;
    color: coral;
    text-decoration: none;
}

.contenedor a:hover{
     transform: scale(1.2);
      transition: 1s;
}
header label{
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 26px;
    text-align: center;
     color: #fff;
    display: none;
   
}
header label:hover{
    background: rgb(0,0,0,0.5);
    cursor: pointer;
}
#toggle{
   display: none;
    }
@media (max-width:600px){
    header label{
        display: block;
        cursor: pointer;
        float: right;
    
    }
    .contenedor {
        top:80px;
      position: absolute;
    background: rgb(51,51,51,0.9);
        width: 70%;
        margin-left: -70%;
    }
    .contenedor ul{
       flex-direction: column;

    }
    .contenedor li{
        border-top: 1px solid #333;
        margin-left: 20px;
      
    }
   
    #toggle:checked ~ .contenedor{
        margin: 0;
    }
        
    
}
/*
.contenedor li:nth-of-type(1) a:hover{
    border-bottom: 4px solid #40731e;
    transform: scale(1);
}
.contenedor li:nth-of-type(2) a:hover{
    border-bottom: 4px solid #333;
}

.contenedor li:nth-of-type(3) a:hover{
    border-bottom: 4px solid #455344;
}
*/

