body{
    min-height: 100vh;

}
footer{
    align-self: flex-end;
    width: 100%;
    position: fixed;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #212529;
    padding-bottom: 30px;
}
.social{
    width: 100%;
    text-align: center;
    font-size: 114px;
}
.copy{
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 8px;
}
.social a{
    color: #fff;
    text-decoration: none;
}
