*{
    margin: 0;
}
body{
    margin: 0;
}
header{
    background: rgb(34,34,34);
    width: 100%;
    height: 80px; 
    z-index: 100;
   position: fixed;
    top: 0;
    left: 0;
}
h1{
    float: left;
    padding: 20px;
    
}
h1 a{
    text-decoration: none;
    color: #fff;
}
h1:hover{
    cursor: pointer;
}

.contenedor{
    transition: 1s;
    padding: 20px;
}
.contenedor ul{
    margin: 0;
    list-style: none;
    padding: px;
    display: flex;
    justify-content: center;
   
}
.contenedor li a{
    padding:20px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.contenedor a:hover{
     transform: scale(1.2);
      transition: 1s;
}
header label{
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 26px;
    text-align: center;
     color: #fff;
    display: none;
   
}
header label:hover{
    background: rgb(0,0,0,0.5);
    cursor: pointer;
}
#toggle{
   display: none;
    }
@media (max-width:800px){
    header label{
        display: block;
        cursor: pointer;
        float: right;
    
    }
    .contenedor {
    top:80px;
     position: absolute;
    background: rgb(51,51,51,0.9);
    width: 50%;
     margin-left: -80%;
    height: 100vh;
     
    }
    .contenedor ul{
        top: -25px;
        position: relative;
       flex-direction: column;
        width: 100%;
        left: -35px;
        text-align: center;
        padding: 5px 10px;
       

    }
    .contenedor li{
        border-top: 1px solid #333;
     
        width: 100%;  
    }
    .contenedor li:hover{
        background: rgba(255,255,255,0.1);
    }
   
    #toggle:checked ~ .contenedor{
        margin: 0;
    }
        
    
}
/*
.contenedor li:nth-of-type(1) a:hover{
    border-bottom: 4px solid #40731e;
    transform: scale(1);
}
.contenedor li:nth-of-type(2) a:hover{
    border-bottom: 4px solid #333;
}

.contenedor li:nth-of-type(3) a:hover{
    border-bottom: 4px solid #455344;
}
*/

