*{
    margin: 0;
}

header{
    background: rgb(44, 62, 80);
    width: 100%;
    height: 60px; 
    z-index: 100;
   position: fixed;
    top: 0;
    left: 0;
}
h1{
    float: left;
    padding: 10px;
    
}
h1 a{
    text-decoration: none;
    color: #fff;
}
h1:hover{
    cursor: pointer;
}

header .contenedor{
    transition: 1s;
    padding: 20px;
}
header .contenedor ul{
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: center;
   
}
header .contenedor li a{
    padding:5px 20px;
    display: block;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin-right: 20px;
}

header .contenedor a:hover{
     
     
      border-bottom: 4px solid #fff;
}
header label{
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 26px;
    text-align: center;
     color: #fff;
    display: none;
   
}
header label:hover{
    background: rgb(0,0,0,0.5);
    cursor: pointer;
}
#toggle{
   display: none;
    }
@media (max-width:700px){
    header label{
        display: block;
        cursor: pointer;
        float: right;
    
    }
    header .contenedor {
    top:60px;
     position: absolute;
    background: rgba(44, 62, 80,0.9);
    width: 30%;
     margin-left: -80%;
    height: 100vh;
    
     
    }
    header .contenedor ul{
        top: -25px;
        position: relative;
       flex-direction: column;
        width: 100%;
        left: -35px;
        text-align: center;
        padding: 5px 10px;
       text-align:center; 

    }
    header .contenedor li{
        border-top: 1px solid #333;
        padding-top: 20px;
        width: 100%;  
    }
    header .contenedor li:hover{
        background: rgba(255,255,255,0.1);
    }
   
    #toggle:checked ~  .contenedor{
        margin: 0;
    }

}

