.modal-content{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    align-items: center;
    display: flex;
      display: none;
      z-index: 100;
      
}

.form{
    width: 600px;
    height: 650px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(255,255,255,0.5);
    border-radius:20px;
    padding: 30px;
    align-items: center;
    text-align: center;
    position: absolute;
  
  
}
.close{
    float: right;
    position:absolute;
    right: 25px;
    top: 0;
    right: -1px;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}
.close:hover{
    color: red;
}
.texto{
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    
}
.form img{
    
    justify-content: center;
    background: #fff;
    border-radius: 40px;
    width: 75px;
    height: 75px;
   
    
   position: relative;
}
.form h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
}
.txt{
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    left: -15px;
    position: relative;
    font-size: 15px;
    max-height: 100px;
    max-width: 550px;
}
.btnregister{
    display: block;
    background: rgb(94, 195, 198);
    font-size: 18px;
    color: #fff;
  width: 100%;
    padding: 10px;
    position:relative;
    width: 100%;
    left: 5px;
    border-radius: 20px;
    border: 0;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
