.section1
{
    width: 100%;
    height: 10%;
    top:9%;
    position: fixed;
    left: 0;
    background-color: rgb(202, 216, 202);
}
.titulo
{
    text-align: center;
    font-size: 35px;
    padding: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.secttion2
{
  width: 100%;
  height: 20%;
   display: flex;
   flex-wrap: wrap;   
}
img
{
    width: 200px;
    height: 200px;
}
