main{
top: 80px;
    position: relative;
}
.slider ul{
    width: 100%;
}
.slider{
    width: 100%;
    display: flex;
      margin: 0;
    overflow: hidden;
}
img{    
 
   width: 120vh;
    height: 80vh;
}
.slider ul{
    display: flex;
    width: 400%;
    animation: change 10s infinite ease;
    
}
.slider li{
    width: 100%;
    list-style: none;
}
@keyframes change{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    30%{margin-left: -100%;}
    
    55%{margin-left: -200%;}
    80%{margin-left: -200%;}
    
    90%{margin-left: -300%;}
    100%{margin-left: -400%;}
    
}